/* Global */
/* ------------------------------------ */
@import "global/_normalize";
@import "global/_fonts";
@import "global/_variables";
@import "global/_mixins";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

/* Blocks */
/* ------------------------------------ */
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_about-city";
@import "blocks/_background-center";
@import "blocks/_advantages";
@import "blocks/_architecture";
@import "blocks/_benefit-park";
@import "blocks/_insert";
@import "blocks/_option";
@import "blocks/_background-outro";

@import "blocks/_socials";
@import "blocks/_footer";