.advantages {
    margin: 0 0 120px;

    @include vp-1023 {
        margin: 0 0 80px;
    }

    @include vp-767 {
        margin: 0 0 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @include vp-1023 {
            display: flex;
            flex-direction: column;
            gap: 80px;
        }

        @include vp-767 {
            gap: 50px;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__description-title {
        margin: 0 0 30px 0;

        @include vp-1023 {
            margin: 0 0 20px 0;
        }

        @include vp-767 {
            margin: 0 0 15px 0;
        }
    }

    &__description-list {
        columns: 2;
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include vp-1023 {
            column-gap: 60px;
            columns: 2;
        }

        @include vp-767 {
            columns: 1;
        }
    }

    &__description-item {
        position: relative;
        margin: 0 0 15px 16px;

        &::before {
            content: " ";
            position: absolute;
            height: 6px;
            width: 6px;
            background: $color-fallow;
            left: -10px;
            top: 10px;
            border-radius: 50%;

            @include vp-1023 {
                left: -14px;
                top: 8px;
            }
        }

        @include vp-1023 {
            margin: 0px 0 10px 14px;
        }
    }

    &__card {
        border: 1px solid $color-fallow;
        border-radius: 600px 600px 0 0;
        border-bottom: none;
        height: 100%;
        min-width: 400px;
        padding: 100px 20px 58px 20px;

        @include vp-1023 {
            border: none;
            border-radius: none;
            padding: 0;
            max-width: 720px;
        }

        @include vp-767 {
            min-width: 280px;
        }
    }

    &__card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include vp-1023 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0 40px;
            align-items: start;
            justify-content: space-between;
        }

        @include vp-767 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0 40px;
        }
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        max-width: 192px;

        @include vp-1023 {

            &:nth-child(2),
            &:nth-child(4) {
                justify-content: end;
            }
        }

        @include vp-767 {

            &:nth-child(2),
            &:nth-child(4) {
                justify-content: start;
            }

            &:nth-child(1) {
                justify-content: center;
            }

            width: 120px;
        }
    }

    &__card-subitem {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: baseline;
        justify-content: center;
        margin: 0 0 10px 0;

        @include vp-1023 {
            gap: 5px;

            &--center {
                align-items: center;
            }
        }

        @include vp-767 {
            margin: 0;
        }


    }

    &__icon {
        display: none;

        @include vp-1023 {
            display: block;
        }

        &--margin-bottom {
            margin: 0 0 20px 0;

            @include vp-767 {
                margin: 0 0 10px 0;
            }
        }

        &--margin-top {
            margin: 20px 0 0 0;

            @include vp-767 {
                margin: 10px 0 0 0;
            }
        }
    }

    &__note-number {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;
        font-family: $ff-tenor;

        @include vp-1023 {
            font-size: 40px;
            line-height: 40px;
        }

        @include vp-767 {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__note-value {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: $ff-tenor;
        color: $color-fallow;

        @include vp-1023 {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__note-name {
        font-size: 18px;
        line-height: 26px;
        text-align: center;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
        }

    }






}