.architecture {
    margin: 0 0 120px 0;

    @include vp-1023 {
        margin: 0 0 80px 0;
    }

    @include vp-767 {
        margin: 0 0 60px 0;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        margin: 0 0 40px 0;

        @include vp-1023 {
            margin: 0 0 20px 0;
        }

        @include vp-767 {
            flex-direction: column;
            margin: 0 0 40px 0;
            gap: 15px;
            align-items: center;
        }
    }

    &__title {
        font-family: $ff-tenor;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: $color-fallow;
        max-width: 400px;
        margin: 0;

        @include vp-1023 {
            font-size: 24px;
            line-height: 30px;
            max-width: 230px;
        }

        @include vp-767 {
            font-size: 20px;
            line-height: 24px;
            max-width: 295px;
            text-align: center;
        }
    }

    &__note {
        font-size: 18px;
        line-height: 26px;
        max-width: 400px;


        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            max-width: 230px;
        }

        @include vp-767 {
            max-width: 295px;
            text-align: center;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 400px));
        align-items: start;
        justify-content: space-between;
        gap: 10px;

        @include vp-1023 {
            gap: 19px;
            grid-template-columns: repeat(3, minmax(160px, 270px));
        }

        @include vp-767 {
            overflow: auto;
            gap: 10px;
            margin: 0 -20px;
            padding: 0 20px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__img {
        border-radius: 0 0 600px 600px;
        height: 100%;

        &--top-border {
            border-radius: 600px 600px 0 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        align-items: center;
    }

    &__picture {
        @include vp-1023 {
            min-height: 410px;
        }

        @include vp-767 {
            min-height: 285px;
        }
    }

    &__img-note {
        font-family: $ff-tenor;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;

        @include vp-1023 {
            font-size: 14px;
            line-height: 18px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }

    }
}