.background-center {
    background: url("/images/center-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 740px;
    margin: 0 0 120px;

    @media (min-resolution: 2dppx) {
        background: url("/images/center-bg@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @media (max-width:$vp-tablet) {
        background: url("/images/center-bg-tablet.jpg") no-repeat center;
        background-size: cover;
    }

    @media (min-resolution: 2dppx) and (max-width:$vp-tablet) {
        background: url("/images/center-bg-tablet@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @media (max-width:$vp-mobile) {
        background: url("/images/center-bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }

    @media (min-resolution: 2dppx) and (max-width:$vp-mobile) {
        background: url("/images/center-bg-mobile@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @include vp-1023 {
        min-height: 460px;
        margin: 0 0 80px 0;
    }

    @include vp-767 {
        min-height: 300px;
        margin: 0 0 60px 0;
    }

}