.background-outro {

    background: url("/images/outro-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 500px;
    margin: 0;

    @media (min-resolution: 2dppx) {
        background: url("/images/outro-bg@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @media (max-width:$vp-tablet) {
        background: url("/images/outro-bg-tablet.jpg") no-repeat center;
        background-size: cover;
    }

    @media (min-resolution: 2dppx) and (max-width:$vp-tablet) {
        background: url("/images/outro-bg-tablet@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @media (max-width:$vp-mobile) {
        background: url("/images/outro-bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }

    @media (min-resolution: 2dppx) and (max-width:$vp-mobile) {
        background: url("/images/outro-bg-mobile@2x.jpg") no-repeat center;
        background-size: cover;
    }

    @include vp-1023 {
        min-height: 280px;
    }

    @include vp-767 {
        min-height: 200px;
    }
}