.hero {
    margin: 0 0 120px;
    position: relative;
    z-index: 1;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69.07%, #000000 100%);
        z-index: -1;

        @include vp-767 {
            display: none;
        }
    }

    @include vp-1023 {
        margin: 0 0 80px 0;
    }

    @include vp-767 {
        margin: 0 0 60px 0;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        max-height: unset;
        z-index: -2;

        @include vp-767 {
            position: static;
            margin-bottom: 20px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        min-height: 740px;
        padding: 30px;

        @include vp-1023 {
            min-height: 460px;
        }

        @include vp-767 {
            min-height: unset;
            padding: 0;
        }
    }

    &__title {
        font-family: $ff-tenor;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        max-width: 800px;
        margin: 0 auto;
        bottom: 30px;

        @include vp-1023 {
            font-size: 40px;
            line-height: 46px;
            max-width: 520px;
        }

        @include vp-767 {
            position: static;
            transform: translateX(0);
            margin: 0 auto;
            font-size: 28px;
            line-height: 36px;
            max-width: 335px;
        }

        @media (max-width:370px) {
            font-size: 24px;
            line-height: 34px;
        }

    }
}