.insert {
    margin: 0 0 120px 0;

    @include vp-1023 {
        margin: 0 0 80px 0;
    }

    @include vp-767 {
        margin: 0 0 60px 0;
    }

    &__wrapper {
        position: relative;
        pointer-events: none;

        &::before {
            content: " ";
            height: 1px;
            background-color: $color-fallow;
            width: calc(100% - 20px);
            position: absolute;
            top: 32%;
            left: 0.8%;
            z-index: 7;

            @include vp-1023 {
                width: calc(100% - 11px);
            }

            @include vp-767 {
                top: 27%;
                width: calc(100% - 9px);

            }
        }
    }

    &__icon-left {
        position: absolute;
        top: 32%;
        transform: translateY(-50%);
        left: 0;
        background: $color-rustic-red;
        z-index: 6;

        @include vp-1023 {
            height: 12px;
            width: 12px;
        }

        @include vp-767 {
            top: 27%;
            left: -0.3%;
        }
    }

    &__icon-right {
        position: absolute;
        top: 32%;
        transform: translateY(-50%);
        right: 0;
        z-index: 6;

        @include vp-1023 {
            height: 12px;
            width: 12px;
        }

        @include vp-767 {
            top: 27%;
        }

    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;

        @include vp-1023 {
            gap: 20px;
        }

        @include vp-767 {
            gap: 17px;
        }

    }

    &__text {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: baseline;
        background-color: $color-rustic-red;
        padding: 0 85px;
        z-index: 8;

        @include vp-1023 {
            gap: 5px;
            padding: 0 44px;
            align-items: center;
        }

        @include vp-767 {
            padding: 0 30px;
            align-items: baseline;
        }
    }

    &__text-number {
        font-family: $ff-tenor;
        font-size: 140px;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: $color-fallow;

        @include vp-1023 {
            font-size: 90px;
            line-height: 70px;
        }

        @include vp-767 {
            font-size: 70px;
            line-height: 50px;
        }
    }

    &__text-unit {
        font-family: $ff-tenor;
        font-size: 34px;
        line-height: 44px;
        text-transform: uppercase;
        color: $color-fallow;

        @include vp-1023 {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.08em;
        }
    }

    &__note {
        font-size: 18px;
        line-height: 26px;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
        }
    }
}