.option {
    margin: 0 0 114px 0;

    @include vp-1023 {
        margin: 0 0 80px 0;
    }

    @include vp-767 {
        margin: 0 0 60px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include vp-1023 {
            flex-direction: column;
            gap: 40px;
            align-items: center;
            justify-content: start;
        }
    }

    &__left-col {
        display: flex;
        flex-direction: column;
        max-width: 485px;
        justify-content: left;

        @include vp-1023 {
            max-width: 350px;
            align-items: center;
        }

        @include vp-767 {
            max-width: 295px;
        }
    }

    &__right-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(2, minmax(300px, 400px));

        @include vp-1023 {
            // grid-template-columns: repeat(2, minmax(160px, 230px));
        }

        @include vp-767 {
            // grid-template-columns: repeat(2, minmax(100px, 160px));
        }
    }

    &__title {
        font-family: $ff-tenor;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: $color-fallow;
        margin: 0 0 30px 0;

        @include vp-1023 {
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 20px 0;
            text-align: center;
        }

        @include vp-767 {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 15px 0;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 40px 0;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 20px 0;
            text-align: center;
        }

    }

    &__link {
        font-size: 18px;
        line-height: 26px;
        padding: 17px;
        width: 220px;
        color: $color-fallow;
        border: 1px solid $color-fallow;
        border-radius: 0 40px 0 40px;
        text-align: center;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            width: 180px;
            padding: 15px;
        }

    }

    &__link:hover {
        background-color: $color-fallow;
        color: $color-rustic-red;
    }

    &__link:focus {
        background-color: $color-fallow;
        color: $color-rustic-red;
    }

    &__link:focus-visible {
        background-color: $color-fallow;
        color: $color-rustic-red;
        outline: none;
    }

    &__text-card {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-fallow;
        border-bottom: none;
        border-radius: 600px 600px 0 0;
        height: 100%;
        padding: 0 70px;

        @media (max-width:1300px) {
            padding: 0 20px;
        }

        @include vp-1023 {
            gap: 20px;
            padding: 0 35px;
        }

        @include vp-767 {
            padding: 0 10px;
        }
    }

    &__card-title {
        font-family: $ff-tenor;
        font-size: 140px;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;

        @include vp-1023 {
            font-size: 90px;
            line-height: 70px;
        }

        @include vp-767 {
            font-size: 70px;
            line-height: 50px;
        }
    }

    &__card-note {
        font-family: $ff-tenor;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.08em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fallow;
        max-width: 260px;

        @include vp-1023 {
            font-size: 14px;
            line-height: 18px;
            max-width: 160px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
            max-width: 140px;
        }
    }

    &__img {
        border-radius: 0 0 600px 600px;
        height: 100%;
        width: 100%;

        @include vp-1023 {
            width: auto;
        }
    }

    &__picture {
        @include vp-1023 {
            min-height: 410px;
        }

        @include vp-767 {
            min-height: 285px;
        }
    }
}